<template name="profReviews">
	{{#each allReviews}}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h2 class="panel-title"><strong>{{professorName}}</strong> {{professorInfo}}</h2>
	  </div>
	  <div class="panel-body">
	    <div class="col-sm-3">
	    	<h5>Por: <a href="https://www.facebook.com/app_scoped_user_id/{{userUrl}}" target="_blank">{{userName}}</a></h5>
				<h4>Helpfulness: {{help}}</h4>
				<h4>Clarity: {{clarity}}</h4>
				<h4>Easiness: {{easy}}</h4>
				{{#if ownReview}}
				<a class="btn btn-mini btn-warning" href="/edit-review/{{_id}}">Editar</a>
				{{/if}}
			</div>
			<div class="col-sm-3">
				<h4>Curso: {{courseCode}}</h4>
				<p>Mayor: {{mayor}}</p>
				<p>Taken for credit: {{credit}}</p>
				<p>Textbook Use: {{txtuse}}</p>
				<p>Interest: {{interest}}</p>
				<p>Grade: {{grade}}</p>
			</div>
			<div class="col-sm-6">
				<h4>{{tags}}</h4>
				<p>{{comment}}</p>
			</div>
	  </div>
	</div>
	{{/each}}

	
</template>
