<template name="appNav">

	<div class="sidebar-nav fixed">
	  <div class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <span class="visible-xs navbar-brand">Sidebar menu</span>
	    </div>
	    <div class="navbar-collapse collapse sidebar-navbar-collapse">
	      <ul class="nav navbar-nav ">
	        <li class="logo-link hidden-xs"><a href="/"><img src="/images/logo.png" alt="logo" class="logo"></a></li>
	        <li><a href="/search-professors"><i class="fa fa-graduation-cap fa-2x"></i><br>Profesores</a></li>
	        <li>
	        	<a href="/search-schools"><i class="fa fa-university fa-2x"></i><br>Universidades</a>
	        </li>
	        <li><a href="/professors-reviews"><i class="fa fa-files-o fa-2x"></i><br>Reviews</a></li>
	        <li><a href="/rate"><i class="fa fa-bar-chart fa-2x"></i><br>Rate</a></li>
	        <li class="social-icons">
	        	<a href="#"><i class="fa fa-facebook fa-2x"></i></a>
	        </li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</div>

</template>