<template name="appNav">

	<div class="sidebar-nav fixed">
	  <div class="navbar navbar-inverse" role="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <span class="visible-xs text-hide logo-link"><a href="/"><img src="/images/logo.png" alt="logo" class="logo-xs"></a></span>
	    </div>
	    <div class="navbar-collapse collapse sidebar-navbar-collapse">
	      <ul class="nav navbar-nav ">
	        <li class="logo-link hidden-xs"><a href="/"><img src="/images/logo.png" alt="logo" class="logo"></a></li>
	        <li class="{{isActiveRoute 'searchProfessors'}}"><a href="/search-professors"><i class="fa fa-graduation-cap fa-2x"></i><br>Profesores</a></li>
	        <li class="{{isActiveRoute 'searchSchools'}}">
	        	<a href="/search-schools"><i class="fa fa-university fa-2x"></i><br>Universidades</a>
	        </li>
	        {{#if currentUser}}
	        <li class="{{isActiveRoute 'myReviews'}}"><a href="/mis-reviews"><i class="fa fa-files-o fa-2x"></i><br>Mis Reviews</a></li>
	        {{else}}
	        <li class="{{isActiveRoute 'allProfessors'}}"><a href="/professors-reviews"><i class="fa fa-files-o fa-2x"></i><br>Reviews</a></li>
	        {{/if}}
	        {{#if currentUser}}
	        <li class="{{isActiveRoute 'rate'}}"><a href="/rate" class="selected-nav"><i class="fa fa-bar-chart fa-2x"></i><br>Evaluar</a></li>
	        {{/if}}
	        <li class="social-icons">
	        	<a href="#"><i class="fa fa-facebook fa-2x"></i></a>
	        </li>
	        <li><a href="#">{{>loginButtons}}</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</div>

</template>