<template name="home">
  <div class="row home-items">
    {{#if currentUser}}
    <div class="col-sm-4">
      {{> searchProfessors }}
    </div>
    <div class="col-sm-4">
      {{> searchSchools }}
    </div>
    <div class="col-sm-4">
      {{#if hasUniversity}}
      {{> modalHome }}
      {{else}}
      {{> selectUniversity}}
      {{/if}}
    </div>

    {{else}}
    <div class="col-sm-6">
      {{> searchProfessors }}
    </div>
    <div class="col-sm-6">
      {{> searchSchools }}
    </div>

    {{/if}}
  </div>
</template>
