<template name="modalHome">
	<div class="panel panel-default">
    <div class="panel-body modal-rate">
	
			<h4>Evalúa Profesores o Universidades</h4>
		  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=".bs-example-modal">Ver</button>

		  <div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		    <div class="modal-dialog modal-sm">
		      <div class="modal-content modal-home">
		        {{> searchProfessors }}<br>
		        {{> searchSchools }}
		      </div>
		    </div>
		  </div>
		</div>
  </div>
</template>