<template name="rateSchools">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Califica Universidades</h3>
      <div class="search-input">
      {{> esInput index="schools" placeholder="Busca por Nombre o Region" reactive="false" }}
      </div>
        {{#esEach index="schools"}}
        <div class="panel panel-default">
          <div class="panel-body results">
            <a href="/rate-school/{{_id}}"><h4>{{name}}</h4></a>
            <h5>{{state}}</h5>
          </div>
        </div>
        {{/esEach}}
      {{> esLoadMoreButton index="schools"}}
      {{#ifEsHasNoResults index="schools"}}
      <div class="no-results"><h4>No hay resultados!</h4></div>
      {{/ifEsHasNoResults}}
      {{#ifEsIsSearching index="schools"}}
      <div>Buscando...</div>
      {{/ifEsIsSearching}}
    </div>
  </div>
</template>