.block{
  display: block;
}

.hidden {
  display: none;
}

.loading-message {
  color: #000;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
ul li {
	list-style: none;
}

#login-buttons {
  margin-top: .85em;
}

.home-items {
  text-align: center;
}

.pick-msg {
  font-weight: bold;
  margin: 1em;
}

.section-title {
  margin-bottom: 1em;
}
/*
.search-review {
  margin-bottom: 2em;
}*/

.pf-search-res {
  margin-top: 1.5em;
}

.review-search-res {
  position: fixed;
  right: 2%;
  top: 11%;
  z-index: 2;
}

.filter-professors {
  margin-bottom: 4em;
}

.results:hover {
	background-color: #e7e7e7;
}

.modal-home {
  padding: 1em 1em 4em;
}

.modal-rate h4 {
  margin-bottom: .9em;
}

.modal-share {
  text-align: center;
}

.rate-professor {
  margin-top: 4em;
}

.rate-prof-form {
  margin-bottom: 4em;
}

.rate-display {
  margin-top: 1em;
}

.comment {
  min-height: 13em;
}

.form-group.row {
  margin-top: 20px;
}

.form-section {
  margin: 2.5em 0 5em;
}

.form-section h3{
  margin-bottom: 2.5em
}

.slider-value {
  color: rgb(221, 48, 48);
  font-weight: bold;
  margin-left: .15em;
}

.checkbox.checkbox-inline {
  margin: 7px 1px;
}

.checkbox label {
  padding-left: 2px;
  padding-right: 5px;
}

.tags {
  min-height: 8em;
}

.professor-averages button {
  margin-top: 1em;
}

.search-input input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


.professor-averages {
  text-align: center;
}