html { overflow-y: scroll; }

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;

}



#wrapper {
  min-height: 730px;
  overflow-y:  scroll;
}

#wrapper::-webkit-scrollbar { 
    display: none; 
}

#wrapper::-moz-scrollbar {display:none;}
#wrapper::-google-ms-scrollbar {display:none;}

.navbar-home {
  padding: 1em 0;
  line-height: 36px;
}

.navbar-home ul.navbar-right {
  margin-right: 2em;
}

.navbar-home li {
  margin-left: 2em;
}

.navbar-home a {
  padding: 0 2px;
  border-radius: 18px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  line-height: 17px!important;
}

.navbar-home li a:hover {
  background-color: rgba(0,0,0,0.5);
}

.navbar-home li.dropdown a:hover {
  background-color: transparent;
}


.navbar-home .nav > li > a:focus {
  background-color: rgba(0,0,0,0.5);
}

.navbar-home .nav > li.active {
  border-radius: 18px;
  background-color: rgba(0,0,0,0.5);
}

.navbar-brand > img {
  display: block;
  position: absolute;
  top: 24px;
  width: 18%;
}

.login {
  margin-top: -2em;
}

.headline {
  color: #fff;
  font-size: 4.3em;
  margin-bottom: 3.075em;
  margin-top: 1.5em;
  font-weight: 300;
}

.headline-change {
  color: #b4d235;
}

.home-items {
  text-align: center;
  margin-bottom: 9em;
  margin-top: 5em;
}

.well-home {
  color: #fff;
  background-color: rgba(0,0,0,0.6);
  padding: 1em 2em;
  border-radius: 6px;
  text-align: center;
  margin-top: 10.5em;
}

button.dismiss {
  margin: 2em 2em 1em;
}

.section-title {
  margin-bottom: 2em;
  line-height: 36px;
}

#searchSchools {
  margin-bottom: 1.5em;
}

.fixed {
    top: 0;
    bottom:0;
    left:0;
    width: 12%;
    position:fixed;
    overflow: hidden;
}

.nav-active {
  background-color: rgba(34,34,34,0.9);
  transition:background-color 0.5s ease;
}

.transparent {
  background-color: transparent;
  transition:background-color 0.5s ease;
}



.white {
  color: #fff;
}
.black {
  color: #000;
}

.bold {
  font-weight: bold;
}

.block{
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

#wrapper {
  background: url(/images/cover2.jpg) center center no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loading-message {
  color: #000;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
ul li {
	list-style: none;
}

#login-buttons {
  margin-top: .85em;
}



.pick-msg {
  font-weight: bold;
  margin: 1em;
}


/*
.search-review {
  margin-bottom: 2em;
}*/

.professor-data {
  margin-bottom: 1.5em;
}

.jumbotron {
  border-radius: 4px;
}

.rating-guides li {
  list-style-type: disc; 
}

.overall-prof-review {
  min-height: 23em;
}

.pf-search-res {
  margin-top: 1.5em;
  padding: 0;
  
}


.well-home .pf-search-res {
  position: absolute;
  z-index: 1;
}

.professor-item { border-bottom: 1px solid #d1d1d1; }

.professor-item h4 {
  margin-bottom: -4px;
}

.well-home .sch-search-res {
  position: absolute;
  top: 14em;
  left: 0;
}

.pf-search-res .panel-body {
  padding: 6px;
}

.sch-search-res .panel-body {
  padding: 6px;
}

.review-search-res {
  position: fixed;
  right: 2%;
  top: 11%;
  z-index: 2;
}

.filter-professors {
  margin-bottom: 4em;
}
/*
.sch-search-res {
  position: absolute;
  top: 2em;
  left: 5em;
}*/

.modal-home {
  padding: 1em 1em 4em;
}

.modal-rate h4 {
  margin-bottom: .9em;
}

.modal-share {
  text-align: center;
}

.select-university {
  margin-top: -7em;
}

.rate-professor {
  margin-top: 4em;
}

.rate-prof-form {
  margin-bottom: 4em;
}

.rate-display {
  margin-top: 1em;
}

.comment {
  min-height: 13em;
}

.form-group.row {
  margin-top: 30px;
}

.form-section {
  margin: 2.5em 0 5em;
}

.form-section h3{
  margin-bottom: 2.5em
}

.slider-value {
  color: rgb(221, 48, 48);
  font-weight: bold;
  margin-left: .15em;
}

.checkbox.checkbox-inline {
  margin: 7px 1px;
}

.checkbox label {
  padding-left: 2px;
  padding-right: 5px;
}

.tags {
  min-height: 8em;
}


.professor-averages {
  text-align: center;
}

.professor-averages button {
  margin-top: 1em;
}

.search-input input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}



.panel-title {
  padding-top: 6px;
}

.votes {
  padding-top: 3px;
}

.panel-footer a {
  padding-left: 1em;
}


#product, #enterprise {
  min-height: 800px;
}

@media (max-width: 1200px) {
  .fixed {
    overflow-y:scroll;
    width: 17%;
  }

  .professor-data {
    margin-left: 1em;
  }

}

@media (min-width: 768px) {

  .logo {
      width: 100%;
    }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    margin-top: -1px;
    margin-left: -1px;
  }
  .sidebar-nav .navbar ul {
    float: none;
    background-color: #212121;
  }
  /*.sidebar-nav .navbar li:first-child, .sidebar-nav .navbar li:last-child{
    border-bottom: none;
  }*/
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    border-bottom: 1px solid #B6B6B6;
  }
  /*.sidebar-nav .navbar li:hover {
    background-color: #009688;
  }*/
  .sidebar-nav .navbar li a {
    padding-top: 23px;
    padding-bottom: 23px;
    text-align: center;
    color: #B6B6B6;
    line-height: 2;
  }

  .sidebar-nav li.active > a {
    background-color: #989788!important;
    color: #DED6D6!important;
  }


  .sidebar-nav .navbar li a:hover {
    color: #009688;
  }
  
  .sidebar-nav .navbar li:last-child {
    margin-top: -1.2em;
  }


}/*
  li.social-icons a {
    display: inline-block;
    padding-left: 2.7em;
  }
*/

@media (min-width: 768px) and (max-width: 991px) {

  .overall-prof-review {
    min-height: 26em;
  }

}

@media (max-width: 767px) {

  .navbar-home {
    background-color: #222;
  }

  .fixed {
    position: relative;
    width: 100%;
    overflow: hidden; 
  }

  .sidebar-nav .navbar li {
    border-bottom: 1px solid #b6b6b6;
  }
  
  .sidebar-nav .navbar li:last-child {
    border-bottom: none;
  }

  .sidebar-nav .navbar li a {
    text-align: center;
  }

  .logo-xs {
    width: 33%;
    position: absolute;
    top: 11px;
    left: 7px;
  }

  .profL, .schoolL, .btn-rate {
    margin-bottom: 2em;
  }
}






