<template name="rateProfForm">	
	<form class="rate-professor">
		<section class="form-section">
		  <div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="ccode"><h4>Nombre exacto de la clase</h4></label>
		  	</div>
		  	<div class="col-sm-3 col-sm-offset-4">
		    	<input type="text" class="form-control" name="courseCode" id="ccode">
		  	</div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="ccode"><h4>Semestre y año que tomaste la clase</h4></label>
		  	</div>
		  	<div class="col-sm-4">
		    	<select class="form-control" name="semester">
	      		<option class="disabled" value="">Semestre</option>
	         	<option>Primer semestre</option>
	         	<option>Segundo semestre</option>
         	</select>  
		  	</div>
		  	<div class="col-sm-4">
		  		<select class="form-control" name="year">
	      		<option class="disabled" value="">Año</option>
	         	<option>2015</option>
	         	<option>2014</option>
	         	<option>2013</option>
	         	<option>2012</option>
	         	<option>2011</option>
	         	<option>2010</option>
	         	<option>2009</option>
	         	<option>2008</option>
	         	<option>2007</option>
	         	<option>2006</option>
	         	<option>2005</option>
         	</select>
		  	</div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-md-4 col-sm-3">
		  		<label for="helpful" data-toggle="tooltip" data-placement="top" title="Is this professor helpful when needed?"><h4>Ayuda al alumno: <span class="slider-value" id="helpfulVal">0</span></h4></label>
		  	</div>
		  	<div class="col-md-4 col-sm-5 col-xs-6">
		    	<h5 id="helpfulTxt">Rate from 1 to 5</h5>
		    </div>
		    <div class="col-md-4 col-sm-3 col-xs-6">
					<input class="helpful" id="helpful" type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/> 
		  	</div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-md-4 col-sm-3">
		  		<label for="clarity" data-toggle="tooltip" data-placement="top" title="Is this professor clear about the class requirements and subject matter?"><h4>Claridad  para enseñar: <span class="slider-value" id="clarityVal">0</span></h4></label>
		  	</div>
		  	<div class="col-md-4 col-sm-5 col-xs-6">
		  		<h5><span id="clarityTxt">Rate from 1 to 5</span></h5>
		    </div>
		    <div class="col-md-4 col-sm-3 col-xs-6">
					<input class="clarity" id="clarity" type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
		  	</div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-md-4 col-sm-3">
		  		<label for="easy" data-toggle="tooltip" data-placement="top" title="How hard did you have to work for this class?"><h4>Dificultad: <span class="slider-value" id="easyVal">0</span></h4></label>
		  	</div>
		  	<div class="col-md-4 col-sm-5 col-xs-6">
		  		<h5><span id="easyTxt">Rate from 1 to 5</span></h5>
		    </div>
		    <div class="col-md-4 col-sm-3 col-xs-6">
					<input class="easy" id="easy" type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
		  	</div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="elegible"><h4>Tuviste la posibilidad de elegir al profesor?</h4></label>
		  	</div>
		  	<div class="col-sm-offset-4 col-sm-3">
	        <div class="radio radio-inline">
	        	<input type="radio" name="eligible" id="radio1" class="eligibleYes" value="Si">
					  <label for="radio1">SI</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="eligible" id="radio2" class="eligibleNo" value="No" checked>
					  <label for="radio2">No</label>
					</div>
			  </div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="recommend"><h4>Recomendarías el profesor a otro alumno?</h4></label>
		  	</div>
		  	<div class="col-sm-offset-4 col-sm-3">
	        <div class="radio radio-inline">
	        	<input type="radio" name="recommend" id="radio3" class="recommendYes" value="Si">
					  <label for="radio3">SI</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="recommend" id="radio4" class="recommendNo" value="No" checked>
					  <label for="radio4">No</label>
					</div>
			  </div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="sexy"><h4>Te pareció Sexy el profesor?</h4></label>
		  	</div>
		  	<div class="col-sm-offset-4 col-sm-3">
	        <div class="radio radio-inline">
	        	<input type="radio" name="sexy" id="radio5" class="sexyYes" value="Si">
					  <label for="radio5">SI</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="sexy" id="radio6" class="sexyNo" value="No" checked>
					  <label for="radio6">No</label>
					</div>
			  </div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="credit"><h4>Selecciona los 3 tags que mejor describen al profesor</h4></label>
		  	</div>
		  	<div class="col-sm-8">
		  		<div id="tags" class="tags">
		    		<div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Clase difícil" id="checkbox1">
					    <label for="checkbox1">
					        Clase difícil
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Buen Feedback" id="checkbox2">
					    <label for="checkbox2">
					        Buen Feedback
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Muchas tareas" id="checkbox3">
					    <label for="checkbox3">
					        Muchas tareas
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Prepárate para leer" id="checkbox4">
					    <label for="checkbox4">
					        Prepárate para leer
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Controles sorpresa" id="checkbox5">
					    <label for="checkbox5">
					        Controles sorpresa
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Participación obligatoria" id="checkbox6">
					    <label for="checkbox6">
					        Participación obligatoria
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Estricto con la asistencia" id="checkbox7">
					    <label for="checkbox7">
					        Estricto con la asistencia
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Respetado por los estudiantes" id="checkbox8">
					    <label for="checkbox8">
					        Respetado por los estudiantes
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Inspirador" id="checkbox9">
					    <label for="checkbox9">
					        Inspirador
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Maletero" id="checkbox10">
					    <label for="checkbox10">
					        Maletero
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Clases intensas" id="checkbox11">
					    <label for="checkbox11">
					        Clases intensas
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Paletiado" id="checkbox12">
					    <label for="checkbox12">
					        Paletiado
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Pocas pruebas" id="checkbox13">
					    <label for="checkbox13">
					        Pocas pruebas
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Buena onda" id="checkbox14">
					    <label for="checkbox14">
					        Buena onda
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Buen evaluador" id="checkbox15">
					    <label for="checkbox15">
					        Buen evaluador
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Profe Motivado" id="checkbox16">
					    <label for="checkbox16">
					        Profe Motivado
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Jote" id="checkbox17">
					    <label for="checkbox17">
					        Jote
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Clases increíbles" id="checkbox18">
					    <label for="checkbox18">
					        Clases increíbles
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Pasta" id="checkbox19">
					    <label for="checkbox19">
					        Pasta
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Pruebas son difíciles" id="checkbox20">
					    <label for="checkbox20">
					        Pruebas son difíciles
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Manda hartos trabajos" id="checkbox21">
					    <label for="checkbox21">
					        Manda hartos trabajos
					    </label>
					  </div>
					  <div class="checkbox checkbox-success checkbox-inline">
					    <input type="checkbox" value="Tu mayor esfuerzo será tomar la clase" id="checkbox22">
					    <label for="checkbox22">
					        Tu mayor esfuerzo será tomar la clase
					    </label>
					  </div>
					</div>
			  </div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="credit"><h4>Esta es tu oportunidad de ser más especifico</h4></label>
		  	</div>
		  	<div class="col-sm-offset-3 col-sm-5">
		        <textarea name="comment" class="form-control custom-control comment"></textarea>   
			  </div>
		  </div>
	  </section>

	  <hr>
	  <section class="form-section">
			<h3>Como era la clase?</h3>
			<div class="form-group row">
		  	<div class="col-md-4 col-sm-3">
		  		<label for="interest"><h4>Tu interés en la clase</h4></label>
		  	</div>
		  	<div class="col-md-4 col-sm-5 col-xs-6">
		  		<h5><span id="interestVal">Rate from 1 to 5</span></h5>
		    </div>
		    <div class="col-md-4 col-sm-3 col-xs-6">
					<input class="interest" id="interest" type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
		  	</div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-md-4 col-sm-3">
		  		<label for="txtuse"><h4>Material de apoyo utilizado</h4></label>
		  	</div>
		  	<div class="col-md-4 col-sm-5 col-xs-6">
		  		<h5><span id="txtuseVal">Rate from 1 to 5</span></h5>
		    </div>
		    <div class="col-md-4 col-sm-3 col-xs-6">
					<input class="txtuse" id="txtuse" type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
		  	</div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="grade"><h4>Nota o calificación final obtenida</h4></label>
		  	</div>
		  	<div class="col-sm-offset-4 col-sm-4">
		        <select class="form-control" name="grade">
		        		<option class="disabled" value="">Select</option>
		           	<option>A</option>
		           	<option>B</option>
		           	<option>C</option>
		           	<option>D</option>
		           	<option>E</option>
		           </select>   
			  </div>
		  </div>
			<div class="form-group row">
		  	<div class="col-sm-4">
		  		<label for="mayor"><h4>Cual es tu carrera</h4></label>
		  	</div>
		  	<div class="col-sm-offset-4 col-sm-4">
		        <select class="form-control" name="mayor">
		        		<option class="disabled" value="">Select</option>
		           	<option>Arts</option>
		           	<option>Business</option>
		           	<option>Science</option>
		           	<option>Other</option>
		           </select>   
			  </div>
		  </div>
		  <div class="form-group row">
		  	<div class="col-sm-4 col-sm-offset-4">
		  		{{> reCAPTCHA}}
		  	</div>
		  </div>
	  </section>
		<div class="col-sm-offset-10 col-sm-2">		  
			<button type="submit" class="btn btn-success btn-lg">Agregar</button>
		</div>
	</form>
</template>