<template name="rateProfessor">
  <div class="col-sm-2">
    {{>appNav}}
  </div>
  <div class="col-sm-10">
  	<h2>{{name}}</h2>
    <h5>{{schoolName}}</h5>
    <h5>{{department}}</h5>
  
	  {{#if userRated}}
		  <h2>Ya rankeaste a {{name}}</h2>
		  <h3>Puedes ver tu review <a href="/professor/{{_id}}">aqui</a></h3>
		  {{else}}
			  {{#if ownProfessor }}
				  <div class="col-sm-12 rate-prof-form">
				    <h3>Es tu turno de evaluar a tu Profesor: {{name}}</h3>
				    
				    {{> rateProfForm }}
				  </div>
			  {{else}}
			  	<h1>no</h1>
			  {{/if}}
		{{/if}}
	</div>
</template>