<template name="rateProfessors">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Rate My Professors</h3>
      <div class="search-input">
        {{> esInput index="professors" placeholder="Busca profesores de tu universidad" reactive="false" }}
      </div>
      {{#esEach index="professors"}}
      <div class="panel panel-default">
        <div class="panel-body results">
          <a href="/rate-professor/{{_id}}"><h4>{{name}}</h4></a>
          <h5><strong>{{schoolName}}</strong></h5>
          <h5>{{department}}</h5>
        </div>
      </div>
      {{/esEach}}      
      {{> esLoadMoreButton content="Ver más" class="btn btn-sm btn-success" index="professors"}}
      {{#ifEsHasNoResults index="professors"}}
      <div class="no-results"><h4>No hay resultados!</h4></div>
      {{/ifEsHasNoResults}}
      {{#ifEsIsSearching index="professors"}}
      <div>Buscando...</div>
      {{/ifEsIsSearching}}
    </div>
  </div>
</template>