<template name="suggestProfessor">
	<div class="row">
		<div class="jumbotron col-sm-10 col-sm-offset-1">
			<div class="col-sm-6">
	  		<h2>Por favor ayúdanos:</h2>
	  		<ul class="rating-guides">
	  			<li>Revisa tu evaluación antes de enviarla. No sería mala idea chequear la ortografía. Intenta especificar bien la clase. Por favor evaluar conscientemente.</li><br>
	  			<li>Describe de manera opcional tu impresión sobre las habilidades profesionales del educador, su estilo de enseñanza, y su maestría para dictar la clase con claridad.</li>
	  		</ul>
	  	</div>
	  	<div class="col-sm-6">
	  		<h2>Por favor no lo hagas:</h2>
	  		<ul class="rating-guides">
	  			<li>No usar sobre nombres en los comentarios, no clasificarlo de manera despectiva, no generalices (ej., "siempre'','' nunca'', ''etc.''). Nunca mencionar que el profesor muestra favoritismo por algún estudiante.</li><br>
	  			<li>No utilizar garabatos ni palabras ofensivas contra el profesor. No utilices este medio como método de descarga personal.</li>
	  		</ul>
	  	</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-3">
			<form class="suggest-professor">
				<div class="form-group row">
					<div class="col-sm-6">
			    	<label for="names">Nombre completo</label>
			    	<input type="text" class="form-control" id="names" name="names" placeholder="Nombres">
		    	</div>
		    	<div class="col-sm-6">
			    	<label for="lastnames">Apellidos</label>
			    	<input type="text" class="form-control" id="lastnames" name="lastnames" placeholder="Apellidos">
		    	</div>
		  	</div>
		  	<div class="form-group row">
		    	<div class="col-sm-6">
			    	<label for="school">Universidad</label>
			    	<input type="text" class="form-control" id="school" name="school" placeholder="Universidad">
		    	</div>
		    	<div class="col-sm-6">
			    	<label for="department">Facultad</label>
			    	<input type="text" class="form-control" id="department" name="department" placeholder="Facultad">
		    	</div>
		  	</div>
		  	<div class="col-sm-8 col-sm-offset-2">
		  		<label for="comment">Comentarios</label>
		    	<textarea name="comment" id="comment" class="form-control custom-control"></textarea>
		  	</div>
		  	<div class="col-sm-6 push-left btn-group">
					<button type="submit" class="btn btn-success">Enviar Profesor</button>
					<a href="/" class="btn btn-danger cancel">Cancelar</a>
			</div>
			</form>
		</div>
	</div>
</template>