<template name="suggestProfessor">
	<div class="row">
		<div class="jumbotron col-sm-10 col-sm-offset-1">
			<div class="col-sm-6">
	  		<h2>Por favor ayúdanos:</h2>
	  		<ul class="rating-guides">
	  			<li>Revisa tu evaluación antes de enviarla. No sería mala idea chequear la ortografía. Intenta especificar bien la clase. Por favor evaluar conscientemente.</li><br>
	  			<li>Describe de manera opcional tu impresión sobre las habilidades profesionales del educador, su estilo de enseñanza, y su maestría para dictar la clase con claridad.</li>
	  		</ul>
	  	</div>
	  	<div class="col-sm-6">
	  		<h2>Por favor no lo hagas:</h2>
	  		<ul class="rating-guides">
	  			<li>No usar sobre nombres en los comentarios, no clasificarlo de manera despectiva, no generalices (ej., "siempre'','' nunca'', ''etc.''). Nunca mencionar que el profesor muestra favoritismo por algún estudiante.</li><br>
	  			<li>No utilizar garabatos ni palabras ofensivas contra el profesor. No utilices este medio como método de descarga personal.</li>
	  		</ul>
	  	</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-3">
			<form class="suggest-professor">
				<div class="form-group">
		    	<label for="exampleInputEmail1">Email address</label>
		    	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  	</div>
			</form>
		</div>
	</div>
</template>