<template name="myReviews">
  
  <div class="row">
    <div class="col-sm-2">
      {{>appNav}}
    </div>
    <div class="container">
    <div class="">
      <div class="col-sm-offset-2 col-lg-offset-1">
        <h2>Tus reviews de profesores <a href="/professors-reviews" class="btn btn-info btn-xs">Ver todos los reviews</a></h2>

        {{#each profReviews}}
        <div class="col-sm-3 overall-prof-review">

          <h3><a href="/professor/{{professorId}}">{{professorName}}</a></h3>
          <h4>{{professorSchool}}</h4>
          <h4><small>{{professorDepartment}}</small></h4>
          <h4>Promedio: {{overallScore}}</h4>
          <h5>Ayuda: {{averageHelp}}</h5>
          <h5>Claridad: {{averageClarity}}</h5>
          <h5>Dificultad: {{averageEasy}}</h5>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  </div>
 </template>